.gitignore
*.pyc

.DS_Store
_Dockerfile.*
*.docker-image
*.ex
*.log
*.substvars
.make*
777708544714.dkr.ecr.us-west-2.amazonaws.com
debhelper-build-stamp
dist/
files
fusion*.gz
.idea
.python-version
venv
dev-tools/*.mk
dev-tools/Dockerfile.builder*
dev-tools/Makefile.sample

.coverage
*.egg-info
__pycache__
tmp
build/
*.pyc
*.pytest_cache
test-results.*
